@page "/pizzas-toppings"
@using Model = BlazingPizza.Model

<h1>Our Latest Pizzas and Topping</h1>

<Pizza PizzaName="Hawaiian" PizzaDescription="The one with pineapple" />

<PizzaTopping Topping="@(new Model.PizzaTopping { Name = "Chilli Sauce", Ingredients = "Three kinds of chilli." })" />
